body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.navbar {
    background-color: black;
    color: #ffffff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.logo a {
  text-decoration: none; 
  color: #ffffff;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list li a {
    text-decoration: none;
    color: inherit;
}

.burger,
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.4s;
}

.categories {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.category-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    position: relative;
    transition: transform 0.3s;
}

.category-link:hover {
    text-decoration: underline;
    color: #ffffff;
    transform: scale(1.1);
}

.category-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0059ff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.category-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
    flex-direction: column;
    color: #fff;
    padding: 50px;
}

section h2 {
    margin-bottom: 10px;
}

#homepage {
    background-image: url('images/b1.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #fff;
    padding: 50px;
}

.home-content h2,
.home-content p,
.home-content .get-started-button {
  margin: 10px 0;
}


#gallery {
    background-image: url('images/b2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#aboutus {
    background-image: url('images/b3.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.get-started-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-size: 0.56em;
    margin-top: 0px;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
    cursor: pointer;
}

.get-started-button:hover {
    background-color: #0059ff;
    transform: scale(1.05);
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.menu {
    display: none;
}

.menu.active {
    display: block;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
    }

    .menu.active {
        display: block;
    }

    .menu-icon {
        display: flex;
    }
}

/* Fade-in animation */
.fade-in {
    opacity: 0;
    animation: fadeInAnimation ease 2s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
